{% extends 'base.html' %}
{% load static %}

{% block title %}ルーム参加{% endblock %}

<!-- CSS -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/join_room.css' %}">
{% endblock %}

<!-- JS -->
{% block extra_js %}
<!-- <script src="{% static 'js/to_text.js' %}"></script> -->
{% endblock %}

<!-- メイン -->
{% block content %}
<div class="center-box">
    <h2>ルーム参加</h2>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <input type="text" id="room_name" name="room_name" required placeholder="ルームID"><br>
        <input type="password" id="room_password" name="room_password" placeholder="ルームパスワード">
        <div class="button-wrapper">
            <button type="submit">参加</button>
        </div>
    </form>
</div>
{% endblock %}