{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>ログアウト - QuizHub</title>
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/logout.css' %}">
    <script src="{% static 'js/sidebar.js' %}"></script>
</head>

<body>
    <div class="main">
        <div class="logout-box">
            <h2>ログアウトしました</h2>

            <a href="{% url 'login' %}" class="back-login-button">ログイン画面へ</a>
        </div>
    </div>
</body>

</html>